<div class="insert_div">
    <h1 class="title_insert">Inserindo um novo livro:</h1> 
    <form action="/insert/tarefas" method="post" class="form_insert"> 
        <label for="tarefa">Nome do livro:</label> <br>
        <input type="text" name="title" id="title"> <br>
        <label for="tarefa">Quantidade de páginas::</label> <br>
        <input type="int" name="pags" id="pags"> <br>
        <input type="submit" value="Adicionar">
    </form> 
</div>